/* + DESIGN color -- #cb2027 */

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Merriweather:wght@700&family=Work+Sans:wght@600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
* {
  font-family: "Courgette", cursive;
}
body {
  background-color: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
}

.card p {
  text-align: center;
}

.card img {
  width: 110%;
  height: 220px;
  object-fit: cover;
}

.header {
  position: relative;
  letter-spacing: 4px;
}

.header h1, h2 {
  margin: unset;
  padding: unset;
}

.header h1 {
  margin-top: 42px;
  font-size: 48px;
  font-weight: 300;
}

.header h2 {
  margin-bottom: 36px;
  color: #cb2027;
  position: relative;
  left: 204px;
}

.card h3 {
  border-bottom: solid 1px #cb2027;
  align-self: stretch;
  text-align: center;
  padding: 14px;
  margin: 0 16px;
  font-size: 22px;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-bottom: 12px;

}

.btn i {
  color: #cb2027;
  padding-left: 6px;
}

.cards :nth-child(1) p {
  margin-bottom: 36px;
}