h1 {
    color: salmon;
    /*font-size: 24px;*/
}

body {
    padding: 60px;
}

.young {
    color: lightgreen;
}

.adult {
    color: salmon;
}

.old {
    color: deepskyblue;
}

p {
    font-size: 20px;
}