body,
html {
  height: 100%;
}

body {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 50%;
  gap: 10px;
  position: relative;
}

.container img {
  overflow: hidden;
  position: relative;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0px 0px 46px -1px rgba(0, 0, 0, 0.75);
  object-fit: cover;
  width: 15%;
}

.container :nth-child(2) {
  width: 70%;
  padding: 0px 16px;
}
