{% extends "common/base.html" %}
{% load markdown_extras %}



{% block content %}
    <div class="container">
        {% include "posts/search-form.html" %}
        <div class="posts">
            {% for post in posts %}
                 <a id="post-url" href="{% url 'details-post' post.pk %}">
                    <div class="post">
                        <h2>{{ post.title|capfirst }}</h2>

                        {% if not post.content %}
                            {% lorem 3 p %}
                        {% else %}
                            {{ post.content|markdown }}
                        {% endif %}

                    <div class="post-meta">
                        <span>Posted by {{ post.author|default:"anonymous" }} on {{ post.published_date|date:"d-M-Y" }}</span>
                    </div>
                </div>
            </a>
            {% empty %}
                <h1>No Posts To Show</h1>
            {% endfor %}

        </div>
    </div>
{% endblock %}

