<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Todos</h1>
    
    {% if tasks  %}
        <p>You have {{ tasks|length  }} tasks</p>
    {% endif %}
    
     <form method = "GET" action = "/">
         <input type = "text" name = "title_filter" value = "{{ title_filter  }}"  placeholder = "Search...">
         <button type = "submit">Search</button>
     </form>

    <ul>
        {% for task in tasks  %}
            <li>{{ task.name }} - {{ task.description }} ({{ task.created_at }})</li>
        {% empty %}
            <li>No tasks</li>
        {% endfor %}
    </ul>
</body>
</html>